<div class="f_title span11">
	<span class="title"><span class="f_top_view">Top phim điện ảnh được xem nhiều</span></span>
</div>
<div class="detail">
	<%= render :partial => "/pages/new_movies_updated", :object => @top_movie%>
	<div class="mmid">
		<%= paginate @top_movie%>
	</div>
</div>