<head>
	<title>X Vs Nik</title>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
 <script type="text/javascript">
 <!--
   google_ad_client = "ca-pub-7012179081296426";
   /* sura18com */
   google_ad_slot = "2252636641";
   google_ad_width = 728;
   google_ad_height = 90;
   //-->
 </script>
 <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
 </script>
</head>